<footer class="bg-dark">
  <div class="container">
    <ul class="py-3 d-flex justify-content-center">
      <li class="me-5"><a href="https://www.facebook.com/"><img src="../assets/images/fb.png" alt="fb-icon"></a></li>
      <li class="me-5"><a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="ig-icon"></a></li>
      <li><a href="https://line.me/zh-hant/"><img src="../assets/images/line.png" alt="line-icon"></a></li>
    </ul>
  </div>
</footer>