<footer class="bg-dark">
  <div class="container py-3">
    <ul class="text-center">
      <li class="d-inline-block align-top me-5">
        <a href="https://www.facebook.com/"><img src="../assets/images/fb.png" alt="fb-icon"></a>
      </li>
      <li class="d-inline-block align-top me-5">
        <a href="https://www.instagram.com/"><img
            src="../assets/images/instagram.png" alt="ig-icon"></a>
      </li>
      <li class="d-inline-block align-top">
        <a href="https://line.me/zh-hant/"><img src="../assets/images/line.png"
            alt="line-icon"></a>
      </li>
    </ul>
  </div>
</footer>