:root {
  --black: rgba(0, 0, 0, 1);
  --light: rgba(239, 239, 239, 1);
  --primary: rgba(174, 0, 0, 1);
  --secondary: rgba(148, 148, 148, 1);
  --font-sans-serif: 'Castoro',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1.5rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: rgba(0, 0, 0, 1);
  --body-bg: rgba(255, 255, 255, 1);
}