.width-50 {
  max-width: 50%;
}
.title {
  font-size: 2.5rem;
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}
.subtitle {
  font-size: 1.25rem;
  color: var(--secondary);
  font-style: italic;
}